<html>
  <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <h1>Hi, {{ . }}, please reset your password</h1></br>
      <table>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="password"></input></td>
      <tr>
      <tr>
        <td>Input Again:</td>
        <td><input type="password" name="password2"></input></td>
      <tr>
    </table>
    <button type="button" onclick="myClick()"> Submit</button>
    <script>
      function myClick() {
        alert("Hello! I am an alert box!!");
        $.get("http://localhost:8088/", function(response) {
          console.log(response)
          alert('get it:' + response)
        })
      }
    </script>
  </body>
</html>